body{
    background-color: cadetblue;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    
}
/*headers***************************************************************************/
h1{
 color: darkgray;
 margin: 15px 0;
}

h2{
 color: darkgray;
 margin: -5px 0 0;
}

header{
  background-color: midnightblue;
}
/*footer****************************************************************************/
footer{
  text-align: center;
  padding-top: 50px;
}

.social-media-icon{
   margin: 0 5px;
}
/*links******************************************************************************/
a{
 color: darkslateblue;
 text-decoration: none;
}
/*navigation***************************************************************************/
nav{
  background-color: skyblue;
  text-align: center;
  margin: 20px 0 0;
}

nav a, nav a:visited{
    color: blue;
}

nav a.selected, nav a:hover{
   color: darkblue;
}

/*ids***********************************************************************************/
#wrapper{
   /*sets maximmum width*/
   max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;
  
}

#logo{
    text-align: center;
    margin: 0;
}

