/*csslint ids: false, box-model: false*/

body {
    background-color: olive;
    color: rgb(95, 48, 14);;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

p {
    padding: 5px 0 5px;
}



/*headers***************************************************************************/

h1 {
    color: sandybrown;
    margin: 15px 0;
}

h2 {
    color: sandybrown;
    margin: -5px 0 0;
}

header {
    background-color: sienna;
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 5px 0;
    width: 100%;
}


/*footer****************************************************************************/

footer {
    clear: both;
    padding-top: 50px;
    text-align: center;
}

.social-media-icon {
    margin: 0 5px;
}


/*links******************************************************************************/

a {
    color: saddlebrown;
    text-decoration: none;
}


/*navigation***************************************************************************/

nav {
    background-color: burlywood;
    border-top: 5px solid darkslategrey;
    margin: 20px 0 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
    font-weight: 300;
    padding: 5px 20px 5px;
}

nav a,
nav a: visited {
    color: darkgoldenrod;
}

nav .selected,
nav a:hover {
    color: darkgoldenrod;
}


/*ids***********************************************************************************/

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    background-color: burlywood;
    color: beige;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#gallery li a p {
    color: saddlebrown;
    font-size: 0.8em;
    margin: 0;
    padding: 5%;
}

#wrapper {
    /*sets maximmum width*/
    margin: 0 auto;
    max-width: 940px;
    padding: 0 5%;
}

#logo {
    margin: 0;
    text-align: center;
}


/*about me page********************************************************/


/*should be 200 px photo*/

.profile-photo {
    border-radius: 15%;
    display: block;
    max-width: 70px;
}


/*contact page********************************************************/

.contact-info a {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    padding: 0 0 0 30px;
}

.contact-info .mail a {
    background-image: url('../img/mail.jpg')
}

.contact-info .twitter a {
    background-image: url('../img/instagram.jpg')
}
.carousel {
    line-height: 1;
    margin-bottom: 20px;
    position: relative;
}

/*media queries********************************************************/


/*two column layout*/

@media screen and (min-width: 480px) {
    #primary {
        float: left;
        width: 50%;
    }
    #secondary {
        float: right;
        width: 40%;
    }
    /*three column portfolio layout*/
    #gallery li {
        float: left;
        width: 28.3333%;
    }
    #gallery li:nth-child(7n) {
        clear: left;
    }
    /*about page*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    /*nav*/
    header {
        border-bottom: 5px solid saddlebrown;
        border-top: 5px solid saddlebrown;
        margin-bottom: 60px;
    }
}